Deep Learning
*Ann
*Cnn
*rnn
*Istm
*Gru
*GenAi

In [2]:
! pip install numpy
! pip install pandas

Requirement already satisfied: numpy in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (2.1.3)

[notice] A new release of pip is available: 23.2.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 23.2.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("cleaned_data.csv")

In [5]:
df.head()

     price  kms_driven  owner  age  power  brand
0  35000.0     17654.0      1    3  110.0      8
1  65000.0     16329.0      1    4  180.0      8
2  80000.0     10000.0      1    3  150.0      5
3  53499.0     25000.0      1    6  150.0      5
4  85000.0      8200.0      1    3  160.0      6

In [6]:
df.duplicated().sum()

np.int64(14440)

In [7]:
df.dtypes

price         float64
kms_driven    float64
owner           int64
age             int64
power         float64
brand           int64
dtype: object

In [8]:
x=df.drop('price',axis=1)
y=df['price']

In [9]:
x

       kms_driven  owner  age  power  brand
0         17654.0      1    3  110.0      8
1         16329.0      1    4  180.0      8
2         10000.0      1    3  150.0      5
3         25000.0      1    6  150.0      5
4          8200.0      1    3  160.0      6
...           ...    ...  ...    ...    ...
17720     32588.0      1    9  150.0      3
17721     14500.0      1    4  250.0      5
17722      6639.0      1    9  180.0      8
17723     20373.0      1    6  220.0      3
17724     60857.0      1   13  150.0      3

[17725 rows x 5 columns]

In [10]:
y

0         35000.0
1         65000.0
2         80000.0
3         53499.0
4         85000.0
           ...
17720     25000.0
17721    123000.0
17722     30000.0
17723     60000.0
17724     22000.0
Name: price, Length: 17725, dtype: float64

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [12]:
import tensorflow as tf

In [13]:
from tensorflow.keras.layers import Dense ,Dropout
from tensorflow.keras.models import Sequential

In [14]:
input_shape=(5,)

In [15]:
model=Sequential()

In [16]:
#INPUT LAYER
model.add(Dense(units=64,activation='relu',input_shape=input_shape))
#DROPOUT
model.add(Dropout(0.2))
#HIDDEN
model.add(Dense(units=32,activation='relu'))
model.add(Dense(units=16,activation='relu'))
model.add(Dense(units=8,activation='relu'))
#OUTPUT
model.add(Dense(units=1,activation='linear'))

model.compile(loss='mse',optimizer='adam',metrics=['mse','mae'])

c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [17]:
history=model.fit(x_train,y_train,epochs=10,batch_size=32)
#validation_data=(x_test,y_test)

Epoch 1/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2178801408.0000 - mae: 36580.8008 - mse: 2178801408.0000
Epoch 2/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 1305024384.0000 - mae: 26668.2500 - mse: 1305024384.0000
Epoch 3/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 377223264.0000 - mae: 14074.5957 - mse: 377223264.0000
Epoch 4/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 333213792.0000 - mae: 12844.8643 - mse: 333213792.0000
Epoch 5/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 336427264.0000 - mae: 13099.8057 - mse: 336427264.0000
Epoch 6/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 318092864.0000 - mae: 12573.8926 - mse: 318092864.0000
Epoch 7/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 313557408.0000 - mae: 12549.8174 - mse: 313557408.0000
Epoch 8/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 319164672.0000 - mae: 12811.2910 - mse: 319164672.0000
Epoch 9/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 298149216.0000 - mae: 12409.1924 - mse: 298149216.0000
Epoch 10/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 300968448.0000 - mae: 12399.6719 - mse: 300968448.0000

In [18]:
pd.DataFrame(history.history)

           loss           mae           mse
0  2.100860e+09  35811.574219  2.100860e+09
1  7.964197e+08  20124.634766  7.964197e+08
2  3.661379e+08  13793.999023  3.661379e+08
3  3.374507e+08  13024.819336  3.374507e+08
4  3.307779e+08  12944.476562  3.307779e+08
5  3.211104e+08  12711.030273  3.211104e+08
6  3.065577e+08  12444.462891  3.065577e+08
7  3.069530e+08  12475.636719  3.069530e+08
8  3.036915e+08  12388.965820  3.036915e+08
9  2.945250e+08  12253.918945  2.945250e+08

In [19]:
pred=model.predict(x_test)

111/111 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [20]:
y_test

9379      25000.0
16113     35000.0
16289     50000.0
286      126999.0
8059     123000.0
           ...
3925     120000.0
7121      35000.0
7058      10000.0
9889      35000.0
1647      48300.0
Name: price, Length: 3545, dtype: float64

In [21]:
out_data=pd.DataFrame({'actual':y_test.ravel(),'predict':pred.ravel()})

C:\Users\Hp\AppData\Local\Temp\ipykernel_2628\2888672022.py:1: FutureWarning: Series.ravel is deprecated. The underlying array is already 1D, so ravel is not necessary.  Use `to_numpy()` for conversion to a numpy array instead.
  out_data=pd.DataFrame({'actual':y_test.ravel(),'predict':pred.ravel()})

In [22]:
out_data.describe()

              actual        predict
count    3545.000000    3545.000000
mean    46737.320451   47398.917969
std     27472.395427   22917.003906
min      6890.000000   12326.778320
25%     25000.000000   27587.841797
50%     43000.000000   40179.082031
75%     60000.000000   69250.593750
max    160000.000000  132568.484375

In [23]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.